<!DOCTYPE html>
<html>
  <head>
    <%- include('../../../views/partials/head'); %>
  </head>
  <body>
    <!-- loop through the skills and add a link to id -->
    <div
      class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32"
    >
      <a class="underline" href="/skills">Go to all skills</a>
      <h1
        class="mx-auto max-w-4xl font-display text-2xl font-medium tracking-tight text-slate-900 sm:text-4xl mt-4"
      >
        Skill Name: <%= title %>
      </h1>

      <ul class="flex gap-4 justify-center">
        <li>Years of Experience: <%= skill.yearsOfExperience %> yrs</li>
      </ul>

      <a
        class="group mt-8 bg-blue-600 inline-flex items-center bg-b justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-900 text-white hover:bg-blue-700 hover:text-blue-100 active:bg-blue-800 active:text-blue-300 focus-visible:outline-blue-900"
        href="/skills/<%= skill.id %>/edit"
        >Edit Skill</a
      >
      <form
        class="mt-8 space -y-6"
        action="/skills/<%= skill.id %>?_method=DELETE"
        method="POST"
      >
        <button
          type="submit"
          class="group mt-8 bg-red-600 inline-flex items-center bg-b justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-red-900 text-white hover:bg-red-700 hover:text-red-100 active:bg-red-800 active:text-red-300 focus-visible:outline-red-900"
        >
          Delete Skill
        </button>
      </form>
    </div>
  </body>
</html>
